<!-- polls/question_detail.html -->
{% extends 'base.html' %}
{% block content %}
{% load polls_extra %}

<h1>{{ question.title }}</h1>
<p>by - 
    <a href="{% url 'accounts:profile' question.user.username %}">
        {{ question.user.username }}
    </a>( {{ question.user.mbti }} )
</p>
<!-- 현재 이 화면을 보는 사람이, 해당 question의 작성자일 경우에만 보여주자 -->
{% if request.user == question.user %}
<div>
    <a href="{% url 'polls:update_question' question.pk %}">
        <button>수정</button>
    </a>
</div>
<div>
    <form action="{% url 'polls:delete_question' question.pk %}" method="POST">
        {% csrf_token %}
        <button>삭제</button>
    </form>
</div>
{% endif %}

<hr>

{% if request.user.is_authenticated %}
<form action="{% url 'polls:create_reply' question.pk %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button>Reply!</button>
</form>
{% endif %}

<ul>
    {% for reply in question.reply_set.all %}
    <li>
        <a href="{% url 'accounts:profile' reply.user.username %}">
            {{ reply.user.username }}
        </a>: {{ reply.content }} - ({{ reply.vote_users.count }})
        
        {% if request.user != reply.user %}
        <form action="{% url 'polls:vote_reply' question.pk reply.pk %}" 
              method="POST"
              style="display: inline-block;">
            {% csrf_token %}

            {% comment %} {% if user in reply.vote_users.all %} {% endcomment %}
            {% check_user_voted reply request.user as is_voted %}
            
            {% if is_voted %}
            <button>-1</button>
            {% else %}
            <button>+1</button>
            {% endif %}
        </form>
        {% else %}
        <form action="{% url 'polls:delete_reply' question.pk reply.pk %}"
              method="POST"
              style="display: inline-block;">
            {% csrf_token %}
            <button>삭제</button>
        </form>
        {% endif %}

    </li>
    {% endfor %}
</ul>


{% endblock content %}