{% extends 'base.html' %}
{% block content %}


<style type="text/css" >
  .wrap-loading{ /*화면 전체를 어둡게 합니다.*/
      position: fixed;
      left:0;
      right:0;
      top:0;
      bottom:0;
      background: rgba(0,0,0,0.2); /*not in ie */
      filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');
  }
  
  .wrap-loading div{ /*로딩 이미지*/
        position: fixed;
        top:50%;
        left:50%;
        margin-left: -21px;
        margin-top: -21px;
  }

  .display-none{
      display:none;
  }
</style>
    
<script>
function clicked(link){
  const param = {
    'link' : link
  }
  $.ajax({
    url : "{% url 'main:reviews' %}",
    type : 'POST',
    headers : {
      'X-CSRFTOKEN' : '{{csrf_token}}'
    },
    data : JSON.stringify(param),
    success:function(context){
        var eval = context['eval'];
        var score = context['score'];

        var good_comment = "";
        var bad_comment = "";

        for (var i=0; i<5; i++) {
            good_comment += context['good_frequency'][i][0] + ",";
            bad_comment += context['bad_frequency'][i][0] + ",";
        }

        let url = "{% url 'main:result' %}?score="+score +"&eval="+eval+"&good_comment="+good_comment+"&bad_comment="+bad_comment;
        location.replace(url);
    },
    beforeSend:function(){
      $(".content2").addClass('display-none');
      $(".footer3").addClass('display-none');
      $(".wrap-loading").removeClass('display-none');
    },
    complete:function(){
      $(".content2").removeClass('display-none');
      $(".wrap-loading").addClass('display-none');
      $(".footer3").removeClass('display-none');
    },
    error:function(e){
      console.log(e);
      
    },
    timeout:1000000
  });
}
</script>

<div class="wrap-loading display-none">
  <div><img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F233FB6505786DA890A"/></div>
</div>  


<section data-bs-version="5.1" class="content2 cid-tCUP13ec6e" id="content2-2">
    
  <div class="mbr-overlay"></div>
  <div class="container">
      <div class="mbr-section-head">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>제품을 클릭하세요.</strong></h4>
      </div>

      <div class="row mt-4">
        {% for list in lists  %}
        <div class="item features-image сol-12 col-md-6 col-lg-4" onclick="clicked('{{list.link}}');">
          <div class="item-wrapper">
              <div class="item-img">
                  <img src="{{list.imageURL}}" alt="Mobirise Website Builder" title="">
              </div>
              <div class="item-content">
                  <p class="mbr-text mbr-fonts-style mt-3 display-7">모델 : {{list.title}}<br></p>
                  <p class="mbr-text mbr-fonts-style mt-3 display-7">가격 : {{list.price}}원<br></p>
                  <p class="mbr-text mbr-fonts-style mt-3 display-7">제조사 : {{list.maker}}<br></p>
              </div>
              <div class="mbr-section-btn item-footer mt-2"><a class="btn item-btn btn-primary display-4">클릭</a></div>
          </div>
      </div>
        {% endfor %}
      </div>
  </div>
</section>

{% endblock content %}