{% include 'board_base.html' %}

{% block content %}

<h1>Edit Posting</h1>

<form action="{% url 'board:update_posting' posting.pk %}" method="POST">
    {% csrf_token %}
    <div>
        <label for="subject">SUBJECT: </label>
        <input type="text" id="subject" name="subject" value="{{ posting.subject }}">
    </div>
    <div>
        <label for="description">description</label>
        <textarea name="description" id="description" cols="30" rows="10">{{ posting.description }}</textarea>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock content %}