{% include 'base.html' %}

{% block content %}

<div class="container-fluid text-center">
  <div class="list-group text-center">
      <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        The current link item
      </a>
      <a href="#" class="list-group-item list-group-item-action">A second link item</a>
      <a href="#" class="list-group-item list-group-item-action">A third link item</a>
      <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
      <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
  </div>
</div>

<form action="{% url 'reviews:board' %}" method="POST">
  {% csrf_token %}
  <label for="author">이름: </label><input type="text" name="author">
  <label for="title">제목: </label><input type="text" name="title">
  <label for="movie">영화: </label><input type="text" name="movie">
  <div>
      <label for="content">메모: </label>
      <input id="content" type="text" name="content">
  </div>
  <input type="submit">
</form>


{% endblock content %}